In [1]:
import numpy as np
import pandas as pd
!conda install openpyxl  # dependency for reading xlsx

CondaValueError: invalid package specification: #

## Example csv

In [2]:
df_example = pd.read_csv('csv_example.csv')

In [3]:
df_example

,PrimaryActivityCode,SecondaryActivityCode,DescriptiveLabel,StartDate,UniBathWeekNo,DayOfWeek,StartTime,EndTime,DurationMins,EnjoymentScore,AdditionalData1,AdditionalData2
0,S801,NaN,Sleeping,17/02/21,21,Wednesday,23:15,08:00,525,NaN,NaN,NaN
1,O733,NaN,Getting dressed,18/02/21,21,Thursday,08:00,08:15,15,0.0,NaN,NaN
2,ED145,NaN,Breakfast,18/02/21,21,Thursday,08:15,09:00,45,1.0,NaN,NaN
3,UD415,L418,Browsing web on laptop,18/02/21,21,Friday,09:00,09:15,15,1.0,NaN,NaN
4,EL642,UD415,Online lecture,18/02/21,21,Thursday,09:15,10:15,60,-1.0,NaN,NaN

## Completed form preprocessing

The form has 3 worksheets for Day 1, 2 and 3. Each worksheet will be considered as a separate dataframe and then merged into one single dataframe to export to csv.

In [4]:
df1 = pd.read_excel('completed_form.xlsx', 'Day 1', engine='openpyxl')
df1_date = df1.iloc[1,1]
df2 = pd.read_excel('completed_form.xlsx', 'Day 2', engine='openpyxl')
df2_date = df2.iloc[1,1]
df3 = pd.read_excel('completed_form.xlsx', 'Day 3', engine='openpyxl')
df3_date = df3.iloc[1,1]

In [5]:
# remove border and drop rows with no data
df1 = df1.iloc[4:100, 1:].dropna(axis=0, how='all')
df2 = df2.iloc[4:100, 1:].dropna(axis=0, how='all')
df3 = df3.iloc[4:100, 1:].dropna(axis=0, how='all')

In [6]:
# 'o' mark in the cells to 1
df1.iloc[:, 2:23] = df1.iloc[:, 2:23].replace({'o':int(1)})
df2.iloc[:, 2:23] = df2.iloc[:, 2:23].replace({'o':int(1)})
df3.iloc[:, 2:23] = df3.iloc[:, 2:23].replace({'o':int(1)})

In [7]:
# date format to %d/%m/%y
df1['StartDate'] = df1_date
df1['StartDate'] = pd.to_datetime(df1['StartDate']).dt.strftime('%d/%m/%y')
df2['StartDate'] = df2_date
df2['StartDate'] = pd.to_datetime(df2['StartDate']).dt.strftime('%d/%m/%y')
df3['StartDate'] = df3_date
df3['StartDate'] = pd.to_datetime(df3['StartDate']).dt.strftime('%d/%m/%y')

In [8]:
# merge df1, 2 and 3
frames = [df1, df2, df3]
df = pd.concat(frames)
df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,StartDate
4,23:30:00,07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28/02/21
5,07:00:00,07:30:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,1,NaN,3,28/02/21
6,07:30:00,08:30:00,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,28/02/21
7,08:30:00,11:00:00,NaN,NaN,NaN,NaN,NaN,2,NaN,1,...,NaN,1,NaN,NaN,NaN,NaN,1,NaN,5,28/02/21
8,11:00:00,12:00:00,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,1,NaN,NaN,NaN,28/02/21
9,12:00:00,13:00:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,28/02/21
10,13:00:00,17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,1,5,28/02/21
11,17:00:00,18:30:00,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,1,NaN,NaN,28/02/21
12,18:30:00,19:30:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,28/02/21
13,19:15:00,21:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,1,NaN,NaN,NaN,NaN,NaN,NaN,1,11,28/02/21
14,21:30:00,22:00:00,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,28/02/21
15,22:00:00,23:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,28/02/21
4,23:30:00,07:30:00,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01/03/21
5,07:30:00,08:00:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,10,01/03/21
6,08:30:00,12:00:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,NaN,NaN,NaN,1,NaN,NaN,5,01/03/21
7,12:00:00,13:00:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,1,NaN,NaN,2,01/03/21
8,13:00:00,15:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,01/03/21
9,15:30:00,16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01/03/21
10,16:00:00,18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,01/03/21
11,18:00:00,18:30:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,3,01/03/21
12,18:30:00,19:00:00,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,01/03/21
13,19:00:00,22:30:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,01/03/21
14,22:30:00,23:00:00,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,01/03/21
4,23:30:00,07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02/03/21
5,07:30:00,08:00:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,1,NaN,5,02/03/21
6,08:30:00,12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,NaN,NaN,NaN,1,NaN,NaN,10,02/03/21
7,12:00:00,13:00:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,1,NaN,NaN,NaN,02/03/21
8,13:00:00,18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,1,NaN,20,02/03/21
9,18:30:00,19:00:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,NaN,NaN,1,NaN,NaN,NaN,02/03/21
10,19:00:00,20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,1,NaN,NaN,30,02/03/21
11,20:00:00,23:00:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,02/03/21

In [9]:
# PrimaryActivityCode and SecondaryActivityCode
activity_list = df.iloc[:, 2:13].fillna(0).to_numpy()

def ActivityCodeSorter(array):
    activity_code = ('ED145', 'EL642', 'X893', 'H179', 'L418', 'R523', 'S801',
           'T695', 'UD415', 'PW101', 'CW982', 'O733')
    primary = []
    secondary = []
    for row in array:
        if any(row==2):
            primary.append(activity_code[np.argmax(row==1)])
            secondary.append(activity_code[np.argmax(row==2)])
        else:
            primary.append(activity_code[np.argmax(row==1)])
            secondary.append(np.nan)
    return primary, secondary

PrimaryActivityCode, SecondaryActivityCode = ActivityCodeSorter(activity_list)
print(PrimaryActivityCode)
print(SecondaryActivityCode)

['S801', 'ED145', 'H179', 'T695', 'L418', 'ED145', 'CW982', 'X893', 'ED145', 'T695', 'H179', 'CW982', 'S801', 'ED145', 'EL642', 'ED145', 'CW982', 'S801', 'CW982', 'ED145', 'L418', 'EL642', 'H179', 'S801', 'ED145', 'CW982', 'ED145', 'CW982', 'ED145', 'UD415', 'EL642']
[nan, nan, nan, 'R523', 'UD415', nan, 'UD415', nan, nan, 'UD415', nan, 'UD415', nan, nan, 'UD415', nan, 'UD415', nan, 'UD415', nan, nan, 'UD415', nan, nan, nan, 'UD415', nan, 'UD415', nan, nan, 'UD415']

In [10]:
np.argmax(activity_list[3]==2)

5

In [11]:
# DescriptiveLabel
DescriptiveLabel = df.iloc[:, 14].to_numpy()
print(DescriptiveLabel)

[nan 'Had breakfast' nan 'Read books while travelling' 'At coffee shop'
 'Had lunch' nan nan 'Had dinner' nan nan nan nan nan 'Panopto lectures'
 nan 'CM50265 CW1' 'Short nap' nan nan nan 'CM50265 CW1' nan nan nan nan
 nan nan nan nan nan]

In [12]:
# StartDate
StartDate = df['StartDate'].to_numpy()
print(StartDate)
df['StartDate'] = pd.to_datetime(df['StartDate'], format='%d/%m/%y')

['28/02/21' '28/02/21' '28/02/21' '28/02/21' '28/02/21' '28/02/21'
 '28/02/21' '28/02/21' '28/02/21' '28/02/21' '28/02/21' '28/02/21'
 '01/03/21' '01/03/21' '01/03/21' '01/03/21' '01/03/21' '01/03/21'
 '01/03/21' '01/03/21' '01/03/21' '01/03/21' '01/03/21' '02/03/21'
 '02/03/21' '02/03/21' '02/03/21' '02/03/21' '02/03/21' '02/03/21'
 '02/03/21']

In [13]:
# UniBathWeekNo and DayOfWeek
days_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

df['UniBathWeekNo'] = df['StartDate'].apply(lambda x: x.isocalendar()[1]+14)
df['DayOfWeek'] = df['StartDate'].apply(lambda x: days_list[x.isocalendar()[2]-1])

In [14]:
UniBathWeekNo = df['UniBathWeekNo'].to_numpy()
DayOfWeek = df['DayOfWeek'].to_numpy()

In [15]:
print(DayOfWeek)

['Sunday' 'Sunday' 'Sunday' 'Sunday' 'Sunday' 'Sunday' 'Sunday' 'Sunday'
 'Sunday' 'Sunday' 'Sunday' 'Sunday' 'Monday' 'Monday' 'Monday' 'Monday'
 'Monday' 'Monday' 'Monday' 'Monday' 'Monday' 'Monday' 'Monday' 'Tuesday'
 'Tuesday' 'Tuesday' 'Tuesday' 'Tuesday' 'Tuesday' 'Tuesday' 'Tuesday']

In [16]:
df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,StartDate,UniBathWeekNo,DayOfWeek
4,23:30:00,07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-02-28,22,Sunday
5,07:00:00,07:30:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,NaN,NaN,1,NaN,3,2021-02-28,22,Sunday
6,07:30:00,08:30:00,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,2021-02-28,22,Sunday
7,08:30:00,11:00:00,NaN,NaN,NaN,NaN,NaN,2,NaN,1,...,NaN,NaN,NaN,NaN,1,NaN,5,2021-02-28,22,Sunday
8,11:00:00,12:00:00,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,1,NaN,1,NaN,NaN,NaN,2021-02-28,22,Sunday
9,12:00:00,13:00:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,1,NaN,NaN,NaN,2021-02-28,22,Sunday
10,13:00:00,17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,5,2021-02-28,22,Sunday
11,17:00:00,18:30:00,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,1,NaN,NaN,1,NaN,NaN,2021-02-28,22,Sunday
12,18:30:00,19:30:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,2021-02-28,22,Sunday
13,19:15:00,21:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,1,11,2021-02-28,22,Sunday
14,21:30:00,22:00:00,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,2021-02-28,22,Sunday
15,22:00:00,23:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,2021-02-28,22,Sunday
4,23:30:00,07:30:00,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-03-01,23,Monday
5,07:30:00,08:00:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,10,2021-03-01,23,Monday
6,08:30:00,12:00:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,5,2021-03-01,23,Monday
7,12:00:00,13:00:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,NaN,1,NaN,NaN,2,2021-03-01,23,Monday
8,13:00:00,15:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,2021-03-01,23,Monday
9,15:30:00,16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-03-01,23,Monday
10,16:00:00,18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,2021-03-01,23,Monday
11,18:00:00,18:30:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,3,2021-03-01,23,Monday
12,18:30:00,19:00:00,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,2021-03-01,23,Monday
13,19:00:00,22:30:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,2021-03-01,23,Monday
14,22:30:00,23:00:00,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,2,2021-03-01,23,Monday
4,23:30:00,07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-03-02,23,Tuesday
5,07:30:00,08:00:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,NaN,1,NaN,5,2021-03-02,23,Tuesday
6,08:30:00,12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,10,2021-03-02,23,Tuesday
7,12:00:00,13:00:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,NaN,1,NaN,NaN,NaN,2021-03-02,23,Tuesday
8,13:00:00,18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,20,2021-03-02,23,Tuesday
9,18:30:00,19:00:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,1,NaN,NaN,NaN,2021-03-02,23,Tuesday
10,19:00:00,20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,1,NaN,NaN,30,2021-03-02,23,Tuesday
11,20:00:00,23:00:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,NaN,1,NaN,NaN,2021-03-02,23,Tuesday

In [17]:
# StartTime
df['StartTime'] = pd.to_datetime(df.iloc[:,0], format='%H:%M:%S').dt.time
StartTime = df['StartTime'].to_numpy(dtype=str)
StartTime = [i[:-3] for i in StartTime]
print(StartTime)

['23:30', '07:00', '07:30', '08:30', '11:00', '12:00', '13:00', '17:00', '18:30', '19:15', '21:30', '22:00', '23:30', '07:30', '08:30', '12:00', '13:00', '15:30', '16:00', '18:00', '18:30', '19:00', '22:30', '23:30', '07:30', '08:30', '12:00', '13:00', '18:30', '19:00', '20:00']

In [18]:
# EndTime
df['EndTime'] = pd.to_datetime(df.iloc[:,1], format='%H:%M:%S').dt.time
EndTime = df['EndTime'].to_numpy(dtype=str)
EndTime = [i[:-3] for i in EndTime]
print(EndTime)

['07:00', '07:30', '08:30', '11:00', '12:00', '13:00', '17:00', '18:30', '19:30', '21:30', '22:00', '23:30', '07:30', '08:00', '12:00', '13:00', '15:30', '16:00', '18:00', '18:30', '19:00', '22:30', '23:00', '07:00', '08:00', '12:00', '13:00', '18:00', '19:00', '20:00', '23:00']

In [19]:
# DurationMins
from datetime import datetime, date

DurationMins = []

today = date(1, 1, 1)
tomorrow = date(1, 1, 2)

for i, start in enumerate(df['StartTime']):
    
    if df['EndTime'].iloc[i] < start:
        delta = datetime.combine(tomorrow, df['EndTime'].iloc[i]) - datetime.combine(today, start)
        
    else:
        delta = datetime.combine(today, df['EndTime'].iloc[i]) - datetime.combine(today, start)
    
    DurationMins.append(int(delta.total_seconds() / 60))
    
print(DurationMins)

[450, 30, 60, 150, 60, 60, 240, 90, 60, 135, 30, 90, 480, 30, 210, 60, 150, 30, 120, 30, 30, 210, 30, 450, 30, 210, 60, 300, 30, 60, 180]

In [20]:
# EnjoymentScore

enjoyment_list = df.iloc[:, 15:20].fillna(0).to_numpy()

def EnjoymentScoreSorter(array):
    enjoyment_score = (-2, -1, 0, 1, 2)
    scores = []
    for row in array:
        if all(row==0):
            scores.append(np.nan)
        else:
            scores.append(enjoyment_score[np.argmax(row)])

    return scores

EnjoymentScore = EnjoymentScoreSorter(enjoyment_list)
print(EnjoymentScore)

[nan, 1, nan, -1, 1, 2, -1, 1, nan, -2, nan, nan, nan, nan, -1, 1, -2, nan, -2, nan, nan, nan, nan, nan, 0, -1, 1, -2, 0, 2, 0]

In [21]:
# AdditionalData1
Sleepiness = []

sleepiness_list = df.iloc[:, 20:23].fillna(0).to_numpy()

def SleepinessScoreSorter(array):
    sleepiness_score = (-1, 0, 1)
    scores = []
    for row in array:
        if all(row==0):
            scores.append(np.nan)
        else:
            scores.append(sleepiness_score[np.argmax(row)])

    return scores

SleepinessScore = SleepinessScoreSorter(sleepiness_list)
print(SleepinessScore)

[nan, 0, -1, 0, -1, -1, 1, 0, -1, 1, 0, 0, nan, 0, -1, -1, 0, nan, -1, -1, -1, 0, 1, nan, 0, -1, -1, 0, -1, -1, 0]

In [22]:
# AdditionalData2
SocialMediaMinutes = df.iloc[:, 23].fillna(0).to_numpy()
print(SocialMediaMinutes)

[ 0  3  0  5  0  0  5  0  0 11  0  0  0 10  5  2  0  0  0  3  0  0  2  0
  5 10  0 20  0 30  0]

In [23]:
# make lists into one dataframe for export
df_csv_data = np.array([PrimaryActivityCode, SecondaryActivityCode, 
               DescriptiveLabel, StartDate, UniBathWeekNo,
               DayOfWeek, StartTime, EndTime, DurationMins, 
               EnjoymentScore, SleepinessScore, SocialMediaMinutes
              ]).T

In [24]:
df_csv = pd.DataFrame(df_csv_data, columns=['PrimaryActivityCode', 'SecondaryActivityCode', 
               'DescriptiveLabel', 'StartDate', 'UniBathWeekNo',
               'DayOfWeek', 'StartTime', 'EndTime', 'DurationMins', 
               'EnjoymentScore', 'SleepinessScore', 'SocialMediaMinutes'
              ])

In [25]:
df_csv

,PrimaryActivityCode,SecondaryActivityCode,DescriptiveLabel,StartDate,UniBathWeekNo,DayOfWeek,StartTime,EndTime,DurationMins,EnjoymentScore,SleepinessScore,SocialMediaMinutes
0,S801,NaN,NaN,28/02/21,22,Sunday,23:30,07:00,450,NaN,NaN,0
1,ED145,NaN,Had breakfast,28/02/21,22,Sunday,07:00,07:30,30,1,0,3
2,H179,NaN,NaN,28/02/21,22,Sunday,07:30,08:30,60,NaN,-1,0
3,T695,R523,Read books while travelling,28/02/21,22,Sunday,08:30,11:00,150,-1,0,5
4,L418,UD415,At coffee shop,28/02/21,22,Sunday,11:00,12:00,60,1,-1,0
5,ED145,NaN,Had lunch,28/02/21,22,Sunday,12:00,13:00,60,2,-1,0
6,CW982,UD415,NaN,28/02/21,22,Sunday,13:00,17:00,240,-1,1,5
7,X893,NaN,NaN,28/02/21,22,Sunday,17:00,18:30,90,1,0,0
8,ED145,NaN,Had dinner,28/02/21,22,Sunday,18:30,19:30,60,NaN,-1,0
9,T695,UD415,NaN,28/02/21,22,Sunday,19:15,21:30,135,-2,1,11
10,H179,NaN,NaN,28/02/21,22,Sunday,21:30,22:00,30,NaN,0,0
11,CW982,UD415,NaN,28/02/21,22,Sunday,22:00,23:30,90,NaN,0,0
12,S801,NaN,NaN,01/03/21,23,Monday,23:30,07:30,480,NaN,NaN,0
13,ED145,NaN,NaN,01/03/21,23,Monday,07:30,08:00,30,NaN,0,10
14,EL642,UD415,Panopto lectures,01/03/21,23,Monday,08:30,12:00,210,-1,-1,5
15,ED145,NaN,NaN,01/03/21,23,Monday,12:00,13:00,60,1,-1,2
16,CW982,UD415,CM50265 CW1,01/03/21,23,Monday,13:00,15:30,150,-2,0,0
17,S801,NaN,Short nap,01/03/21,23,Monday,15:30,16:00,30,NaN,NaN,0
18,CW982,UD415,NaN,01/03/21,23,Monday,16:00,18:00,120,-2,-1,0
19,ED145,NaN,NaN,01/03/21,23,Monday,18:00,18:30,30,NaN,-1,3
20,L418,NaN,NaN,01/03/21,23,Monday,18:30,19:00,30,NaN,-1,0
21,EL642,UD415,CM50265 CW1,01/03/21,23,Monday,19:00,22:30,210,NaN,0,0
22,H179,NaN,NaN,01/03/21,23,Monday,22:30,23:00,30,NaN,1,2
23,S801,NaN,NaN,02/03/21,23,Tuesday,23:30,07:00,450,NaN,NaN,0
24,ED145,NaN,NaN,02/03/21,23,Tuesday,07:30,08:00,30,0,0,5
25,CW982,UD415,NaN,02/03/21,23,Tuesday,08:30,12:00,210,-1,-1,10
26,ED145,NaN,NaN,02/03/21,23,Tuesday,12:00,13:00,60,1,-1,0
27,CW982,UD415,NaN,02/03/21,23,Tuesday,13:00,18:00,300,-2,0,20
28,ED145,NaN,NaN,02/03/21,23,Tuesday,18:30,19:00,30,0,-1,0
29,UD415,NaN,NaN,02/03/21,23,Tuesday,19:00,20:00,60,2,-1,30
30,EL642,UD415,NaN,02/03/21,23,Tuesday,20:00,23:00,180,0,0,0

In [26]:
# export to csv
df_csv.to_csv('complete_data.csv', index=False)

In [27]:
df_example.columns == df_csv.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False])

In [28]:
completed_data = pd.read_csv('complete_data.csv')
completed_data

,PrimaryActivityCode,SecondaryActivityCode,DescriptiveLabel,StartDate,UniBathWeekNo,DayOfWeek,StartTime,EndTime,DurationMins,EnjoymentScore,SleepinessScore,SocialMediaMinutes
0,S801,NaN,NaN,28/02/21,22,Sunday,23:30,07:00,450,NaN,NaN,0
1,ED145,NaN,Had breakfast,28/02/21,22,Sunday,07:00,07:30,30,1.0,0.0,3
2,H179,NaN,NaN,28/02/21,22,Sunday,07:30,08:30,60,NaN,-1.0,0
3,T695,R523,Read books while travelling,28/02/21,22,Sunday,08:30,11:00,150,-1.0,0.0,5
4,L418,UD415,At coffee shop,28/02/21,22,Sunday,11:00,12:00,60,1.0,-1.0,0
5,ED145,NaN,Had lunch,28/02/21,22,Sunday,12:00,13:00,60,2.0,-1.0,0
6,CW982,UD415,NaN,28/02/21,22,Sunday,13:00,17:00,240,-1.0,1.0,5
7,X893,NaN,NaN,28/02/21,22,Sunday,17:00,18:30,90,1.0,0.0,0
8,ED145,NaN,Had dinner,28/02/21,22,Sunday,18:30,19:30,60,NaN,-1.0,0
9,T695,UD415,NaN,28/02/21,22,Sunday,19:15,21:30,135,-2.0,1.0,11
10,H179,NaN,NaN,28/02/21,22,Sunday,21:30,22:00,30,NaN,0.0,0
11,CW982,UD415,NaN,28/02/21,22,Sunday,22:00,23:30,90,NaN,0.0,0
12,S801,NaN,NaN,01/03/21,23,Monday,23:30,07:30,480,NaN,NaN,0
13,ED145,NaN,NaN,01/03/21,23,Monday,07:30,08:00,30,NaN,0.0,10
14,EL642,UD415,Panopto lectures,01/03/21,23,Monday,08:30,12:00,210,-1.0,-1.0,5
15,ED145,NaN,NaN,01/03/21,23,Monday,12:00,13:00,60,1.0,-1.0,2
16,CW982,UD415,CM50265 CW1,01/03/21,23,Monday,13:00,15:30,150,-2.0,0.0,0
17,S801,NaN,Short nap,01/03/21,23,Monday,15:30,16:00,30,NaN,NaN,0
18,CW982,UD415,NaN,01/03/21,23,Monday,16:00,18:00,120,-2.0,-1.0,0
19,ED145,NaN,NaN,01/03/21,23,Monday,18:00,18:30,30,NaN,-1.0,3
20,L418,NaN,NaN,01/03/21,23,Monday,18:30,19:00,30,NaN,-1.0,0
21,EL642,UD415,CM50265 CW1,01/03/21,23,Monday,19:00,22:30,210,NaN,0.0,0
22,H179,NaN,NaN,01/03/21,23,Monday,22:30,23:00,30,NaN,1.0,2
23,S801,NaN,NaN,02/03/21,23,Tuesday,23:30,07:00,450,NaN,NaN,0
24,ED145,NaN,NaN,02/03/21,23,Tuesday,07:30,08:00,30,0.0,0.0,5
25,CW982,UD415,NaN,02/03/21,23,Tuesday,08:30,12:00,210,-1.0,-1.0,10
26,ED145,NaN,NaN,02/03/21,23,Tuesday,12:00,13:00,60,1.0,-1.0,0
27,CW982,UD415,NaN,02/03/21,23,Tuesday,13:00,18:00,300,-2.0,0.0,20
28,ED145,NaN,NaN,02/03/21,23,Tuesday,18:30,19:00,30,0.0,-1.0,0
29,UD415,NaN,NaN,02/03/21,23,Tuesday,19:00,20:00,60,2.0,-1.0,30
30,EL642,UD415,NaN,02/03/21,23,Tuesday,20:00,23:00,180,0.0,0.0,0